.w {
  background-color: #ccc;
}
.b {
  background-color:#888;
}

#pih {
  position:absolute;
}

#board {
  float:left;
}

#log {
  font-family: monospace;
  white-space: pre;
  font-size: smaller;
  float: left;
}

#controls{
  clear: both;
}

.control-button {
  padding: 0px 7px;

}