.w {background-color:#cccccc}
.b {background-color:#888888}
.g {background-color:#dddddd}
.h {background-color:#eeeecc}
table { background: #dddddd;}
a {font-family: monospace; color:#777788}
#pih {position:absolute;left:500px;top:20px}
td {text-align:center;font-family:sans-serif;font-weight:bold;font-size:11px}
textarea {background:#eeeeee; border: 0px; font:smaller; height=400px}
