
body {
 font-family:  "Georgia", serif;
 color: #333;
 background: white;
}

div.main {
 color: #333;
 margin: 0px 50px 0px 250px;
}

div.nav {
 color: #347;
 position: absolute;
 left: 5px;
 top: 50px;
 width: 350px;
}

* > div.nav {
 color: #347;
 position: fixed;
 left: 5px;
 top: 50px;
 width: 350px;
}

div.nav a {
 color: #347;
 display: block;
 width: 200px;
}
div.nav a:visited {
 color: #437;
 display: block;
}

div.bottom {
 border-top: 1px solid #666;
}


h1 {
 color: #000;
 font-family: "Georgia", serif;
 font-weight: normal;
 margin: 40px 0px 0px -10px;
 font-size: 1.5em;
}

h2 {
 color: #000;
 font-family: "Georgia", serif;
 margin: 10px 0px 0px -10px;
 font-weight: normal;
 font-size: 1.21em;
}

h3 {
 color: #333;
 font-weight: bold;
 font-size: 1em;
}

span.control-button {
  padding: 0px 2px;
  font-size: 9px;
}

div.log_move {
  padding: 0px 2px;
}

#chessboard {
  padding: 5px 0;
}

#log {
  width: 80px;
  font-size: 9px;
}
