.w {
  background-color: #ccc;
}
.b {
  background-color:#888;
}

#pih {
  position:absolute;
}

#board {
  float:left;
}

#log {
  font-family: monospace;
  white-space: pre;
  font-size: smaller;
  float: left;
  overflow: auto;
  width: 10em;
}

#controls{
  /*clear: both;*/
}

.control-button {
  padding: 0px 7px;
  cursor: pointer;
}

.log_move {
  padding: 0px 7px;
  cursor: pointer;
}

